<html>
    <head>
        <title>{{ title }} - Record Sold</title>
    </head>
    <body>
        <h1>Record Sold</h1>
        <div>
            {% for order in orders %}
                {% if order[] == orders/{}}
            <div>
                <p>{{ order.record_name }}: <b>{{ order.total_price }}</b></p>
            </div>
            {% endfor %}
            # if orders/0 
            # display order1
            <a>return orders[0]</a>
            #if orders/1
            #display order2
        </div>
    </body>
</html>